<h1>DATA PERNIKAHAN</h1>
<hr>
<table width="100%">
    <tr>
        <td>
            Tanggal Acara
        </td>
        <td>
            :
        </td>
        <td>

        </td>
        <td>

        </td>
        <td>
            Hashtag Wedding
        </td>
        <td>:</td>
        <td>

        </td>
    </tr>
    <tr>
        <td>
            Tempat Resepsi
        </td>
        <td>:</td>
        <td colspan="5"></td>
    </tr>
    <tr>
        <td>
            Jam Undangan
        </td>
        <td>
            :
        </td>
        <td>

        </td>
        <td>

        </td>
        <td>
            Jumlah Undangan
        </td>
        <td>:</td>
        <td>
            lembar
        </td>
    </tr>
    <tr>
        <td>
            Sistem Jamuan
        </td>
        <td>:</td>
        <td colspan="5"></td>
    </tr>
    <tr>
        <td>
            Diselenggarakan oleh
        </td>
        <td>:</td>
        <td colspan="5"></td>
    </tr>
</table>